@import "tailwindcss";

/* Opcional: tipografía y suavizados */
:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background: #fafafa;
}
