@import "tailwindcss";

/* Opcional: tipografía y suavizados */
:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background: #fafafa;
}

:root { --header-h: 56px; }
@media (min-width: 640px) { :root { --header-h: 64px; } }

html, body { height: 100%; }
body { overflow-x: hidden; }

html { scroll-padding-top: calc(var(--header-h) + 8px); }
/* También útil si usas elementos con id (hash) */
:target { scroll-margin-top: calc(var(--header-h) + 8px); }
